--extra-index-url https://download.pytorch.org/whl/cpu
streamlit==1.37.0
torch==2.4.1
torchvision==0.19.1
transformers==4.42.4
grad-cam==1.5.5
opencv-python-headless==4.10.0.84
Pillow==10.4.0
numpy==1.26.4
matplotlib==3.8.4